@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.activeClassName {
  background-color: aqua;
}
